<div class = "center">
<h1 class = "title"><%= current_user.name %>さんのフォロワー一覧</h1>
<div class = "users">
<% @users.each do |user| %>
  <div class = "user icon_between"><%= image_tag user.icon.url, class:"icon" %></div>
  <div class = "user"><%= link_to user.name, user_path(user.id) %></div>
<% end %>
</div>
<br><br>
<% if @user == current_user %>
  <%= link_to "もどる", mypage_user_path(current_user) , class:"button_while"%>
<% else %>
  <%= link_to "もどる", user_path(@user.id) , class:"button_while"%>
<%end %>
</div>
