<div class = "center">
  <h1 class = "title"><%= @user.name %>さんのマイページ</h1>
    <div class = "users">
      <div class = "icon_between"><%= image_tag @user.icon.url, class:"icon" %></div><br>
      <% @user ||= current_user %>
        <div class="stats">
          <a href="<%= following_user_path(@user) %>">
          <strong id="following" class="stat">
            <%= @user.following.count %>
          </strong>
            フォロー
          </a>
          <a href="<%= followers_user_path(@user) %>">
          <strong id="followers" class="stat">
            <%= @user.followers.count %>
          </strong>
             フォロワー
          </a>
        </div>
    </div>
    <br>
    <div class = "users">
      <%= link_to "お気に入り一覧" , favorite_user_path(@user) ,class:"white_button" %><br>
      <%= link_to "ユーザー情報編集", edit_user_registration_path ,class:"white_button" %>
    </div>
    <!-- カレンダー表示 -->
    <%= month_calendar events: @pictures do |date, pictures| %>
      <%= date.day %>
      <% pictures.each do |picture| %>
        <div>
          <%= link_to "TENKIHUKU", picture_path(picture.id) %>
        </div>
      <% end %>
    <% end %>

  <h3>あなたのTENKIHUKU一覧</h3>

  <% @pictures.each do |picture| %>
    <div class="panel-body">
      <%= link_to image_tag(picture.image.url), picture_path(picture.id) %><br>
    </div>
      <% end %>
  <%= paginate @pictures %>

    <script src ="https://api.darksky.net/forecast/b0207e10b3cfa549c07daf016400ada2/35.681167,139.767052"></script>

    <%= link_to '今日の天気へ', pictures_path , class:"button_while" %><br>
</div>
