<h1><%= @user.name %>さんのマイページ</h1>

  <%= image_tag @user.icon.url %>

<br>
<%= link_to "お気に入り一覧へ" , favorite_user_path(@user) %><br>
<%= link_to 'フォロー一覧へ', following_user_path(@user) %><br>
<%= link_to 'フォロワー一覧へ', followers_user_path(@user) %><br>
<%= link_to "ユーザー情報編集画面へ", edit_user_registration_path %>

<% @pictures.each do |picture| %>
  <li><%= image_tag picture.image.url %></li>
  <li><%= picture.content %></li>
<% end %>
