<h1><%= @user.name %>さんのページ</h1>

<% unless @user == current_user %>
  <%= render "follow_form" %>
<% end %>

<%= link_to 'TENKIHUKU一覧へ', picture_path %><br>
<%= link_to 'フォロー一覧へ', following_user_path(@user) %><br>
<%= link_to 'フォロワー一覧へ', followers_user_path(@user) %>

<h2><%= @user.name %>さんのTENKIHUKU一覧</h2>

<% @pictures.each do |picture| %>
  <li><%= image_tag picture.image.url %></li>
  <li><%= picture.content %></li>
  <li><%= link_to "詳細" , picture_path(picture.id) %></li>
<% end %>
