<div class = "center">
  <h1 class ="title"><%= @user.name %>さんのページ</h1>
    <div class = "users">
      <div class ="icon_between"><%= image_tag @user.icon.url, class:"icon" %></div><br>

      <% @user ||= current_user %>
        <div class="stats icon_between">
          <a href="<%= following_user_path(@user) %>">
          <strong id="following" class="stat">
            <%= @user.following.count %>
          </strong>
                 フォロー
          </a>
          <a href="<%= followers_user_path(@user) %>">
            <strong id="followers" class="stat">
              <%= @user.followers.count %>
            </strong>
            フォロワー
          </a>
        </div>


      <% unless @user == current_user %>
        <%= render "follow_form"%>
      <% end %>
    </div>
    <br>


      <h3><%= @user.name %>さんのTENKIHUKU一覧</h3>

      <% @pictures.each do |picture| %>
      <div class="panel-body">
        <%= link_to image_tag(picture.image.url), picture_path(picture.id) %><br>
      </div>
      <% end %>
      <%= paginate @pictures %>
      <br>
      <%= link_to '今日の天気へ', pictures_path , class:"button_while" %><br>
</div>
