<h1><%= @user.name %>さんのページ</h1>

<%= render "follow_form" %>

<%= link_to 'TENKIHUKU一覧へ', pictures_path %><br>
<%= link_to 'フォロー一覧へ', following_user_path(@user) %><br>
<%= link_to 'フォロワー一覧へ', followers_user_path(@user) %>
