<%= form_with(model: @blog, local: true) do |form| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @picture.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= form_with(model: @picture, local: true, url: choose_new_or_edit ) do |form| %>
  <div class="image_file">
    <%= form.label :image %>
    <%= image_tag(@picture.image.url) if @picture.image.url %>
    <%= form.file_field :image %>
  </div>
  <div class="TENKIHUKU_content">
    <%= form.label :content %>
    <%= form.text_field :content,:placeholder => "空欄でもOKです!" %>
  </div>
  <div class="time">
    <%= form.label :start_time , class:"white"%>
    <%= form.date_select :start_time %>
  </div>

  <%= form.submit "投稿する" %>
<% end %>
