<%= form_with(model: @picture, local: true) do |form| %>
  <div class="TENKIHUKU_image">
    <%= form.label :image %>
    <%= image_tag(@picture.image.url) if @picture.image.url %>
    <br>
    <%= form.file_field :image %>
  </div>
  <div class="TENKIHUKU_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
