<div class = "center">
  <h1 class = "title">今日の天気</h1>
  <div class = "container">

    <%= weather_icon(@weather) %>

    <h3><%= @weather %></h3>
    <%= @temperature_high %>
    <p>体感気温：<%= @apparent_temperature %></p>
    <%= weather_description(@apparent_temperature) %>

    <h2 class = "title">今日のTENKIIHUKU一覧</h2>
    <% @pictures.each do |picture| %>
    <% current_pictures(@apparent_temperature) %>
      <% if current_user.gender == picture.user.gender && @current_temperature == picture.weather %>
      <div class="panel-body">
        <%= link_to image_tag(picture.image.url) ,picture_path(picture.id),class:"item" %>
        <br>
      </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate @pictures %>
  <br>
  <%= link_to 'TENKIHUKUを投稿する', new_picture_path,class:"button_while" %>
</div>
