<div class = "center">
  <h1 class = "title">今日の天気</h1>
  <div class = "container">

    <%= weather_icon(@weather) %>

    <h3><%= @weather %></h3>
    <%= @temperature_high %>
    <p>体感気温：<%= @apparent_temperature %></p>

    <h2 class = "title">今日のTENKIIHUKU一覧</h2>
    <% @pictures.each do |picture| %>
    <% case @apparent_temperature %>
      <% when (26..Float::INFINITY) then @current_temperature = 1 %>
      <% when (21..25) then @current_temperature = 2 %>
      <% when (16..20) then @current_temperature = 3 %>
      <% when (12..15) then @current_temperature = 4 %>
      <% when (7..11) then @current_temperature = 5 %>
      <% else picture.weather = 6 %>
    <% end %>
    <%= @weather_content %>
      <% if current_user.gender == picture.user.gender && @current_temperature == picture.weather %>
        <%= link_to image_tag(picture.image.url) ,picture_path(picture.id),class:"item" %><br>
        <br>
      <% end %>
    <% end %>
  </div>
  <%= paginate @pictures %>
  <br>
  <%= link_to 'TENKIHUKUを投稿する', new_picture_path,class:"button_while" %>
</div>
