<div class = "center">
<h1>TENKIHUKU詳細画面</h1>

<div class = "container">
  <p class = "icon"><%= link_to image_tag(@picture.user.icon.url),user_path(@picture.user_id) %></p>
  <% if @picture.user.id == current_user.id %>
    <%= link_to "マイページ", mypage_user_path(current_user) %>
  <% else %>
    <%= link_to @picture.user.name, user_path(@picture.user_id) %>
  <% end %>
</div>
<p><%= image_tag @picture.image.url %></p>
<p><%= @picture.content %></p>

<% unless @picture.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(picture_id: @picture.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<% if @picture.user.id == current_user.id %>
  <%= link_to '編集', edit_picture_path(@picture.id) %>
  <%= link_to '削除', picture_path(@picture.id), method: :delete, data: {confirm: "本当に削除していいですか？"} %>
<% end %>

<br>
<br>
<%= link_to 'TENKIHUKU一覧へ', pictures_path %>
</div>
